<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" />

<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors mainpage-header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
        <span>Songmilarity</span>
      </div>
      <div class="subtitle mb-1 " style="color: black">Discover similar songs!</div>
      <div class="search-section">
        <div class="input-box" onclick="sendFocus()">
          <div class="input-label">Song Name</div>
          <div class="search-line">
            <img class="search-icon" src="{{ url_for('static', filename='images/mag.png') }}" />
            <input placeholder='"One Dance"' id="filter-text-val" />
          </div>
        </div>
      </div>
      <button class="submit-button" onclick="filterText()">SEARCH</button>
    </div>
    <div id="answer-box">

    </div>

    <script>
      const answerBoxTemplate = (title, artist, score, lyrics, top_terms, popularity) => {
        return ` <div
        class="answerbox max-w-xl mx-auto block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-10"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          ${title}
        </h3>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Artist: ${artist}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Similarity rating: ${score}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Popularity : ${popularity}</p>
        <p class="lyrics opacity-0 invisible absolute font-normal text-gray-700 dark:text-white"> ${lyrics}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Top terms: ${top_terms}</p>
      </div>
    </div>`;
      }
      // 

      //   function answerBoxImagedTemplate({ title, genres, artist, image }) {
      //     return ` <div
      //     class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-10"
      //   >
      //   <img class="rounded-lg w-full mb-4" src=${image} />
      //     <h3
      //       class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      //     >
      //       ${title}
      //     </h3>
      //     <p class="font-normal text-gray-900 dark:text-white">${artist}</p>
      //     <p class="font-normal text-gray-700 dark:text-gray-400"> genres: ${genres.join(", ")}</p>
      //   </div>
      // </div>`;
      //   }
      function invalidSongTemplate() {
        return ` <div
        class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-10"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Song not available in database. Please try again!
        </h3>
      </div>
    </div>`;
      }

      function autocorrectField(auto, orig) {
        return ` <div
        class="block mx-auto p-6 rounded-lg max-w-4xl dark:bg-red-500 mb-10"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Showing results for ${auto} instead of ${orig} (No Matches) 
        </h3>
      </div>
    </div>`;
      }

      var input = document.getElementById("filter-text-val");
      input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("submit").click();
        }
      });

      function sendFocus() {
        document.getElementById("filter-text-val").focus();
      }

      function filterText() {
        document.getElementById("answer-box").innerHTML = "";
        console.log(document.getElementById("filter-text-val").value);
        fetch(
          "/songs?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value
          }).toString()
        )
          .then((response) => response.json())
          .then((data) => {
            console.log(data)
            console.log(Object.keys(data).length)
            autocorrection = data['autocorrected']
            data = data['data']
            let tempDiv = document.createElement("div");
            if (autocorrection != document.getElementById("filter-text-val").value) {
              tempDiv.innerHTML += autocorrectField(autocorrection, document.getElementById("filter-text-val").value)
            }
            if (data.length == 0) {
              let tempDiv = document.createElement("div");
              tempDiv.innerHTML = invalidSongTemplate();
              document.getElementById("answer-box").appendChild(tempDiv);
            }
            else {
              data.forEach((row) => {
                console.log(row)
                tempDiv.innerHTML += answerBoxTemplate(row.title, row.artist, row.score, row.lyrics, row.top_terms, row.popularity);
                document.getElementById("answer-box").appendChild(tempDiv);
              })
              const dropdowns = document.querySelectorAll(".answerbox");

              dropdowns.forEach(dropdown => {
                dropdown.addEventListener("click", () => {
                  dropdown.classList.toggle('max-w-3xl')
                  dropdown.querySelector('.lyrics').classList.toggle('invisible');
                  dropdown.querySelector('.lyrics').classList.toggle('opacity-0');
                  dropdown.querySelector('.lyrics').classList.toggle('absolute');
                  dropdown.querySelector('.lyrics').classList.toggle('fade');
                });
              });
            }
          }
          );
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>